<div class="bg">
    <app-headerpro></app-headerpro>
    <div class="mat-elevation-z8 mt-3">
        <mat-card class="frame-login">
            <!-- จัดให้ชิดขวาซ้ายได้สวยงาม -->

            <div class="d-flex justify-content-center">
                <mat-icon class="d-flex justify-content-center" style="font-size: 40px; color: #32C73A;">
                    check_circle</mat-icon>
            </div>
            <br>
            <mat-card-title>
                <br>
                <div class="d-flex align-items-center justify-content-center">
                    <span>Reset Password Complete!</span>
                </div>
                <br>
            </mat-card-title>
            <div class="d-flex align-items-center justify-content-center">
                <button mat-raised-button class="button" routerLink="/stock">Back to report</button>
            </div>

        </mat-card>
    </div>
</div>