<div class="bg">
    <app-header></app-header>
    <div class="mat-elevation-z8 mt-3">
        <mat-card>
            <!-- จัดให้ชิดขวาซ้ายได้สวยงาม -->
            <mat-card-title class="d-flex align-items-center justify-content-center h-100">
                <div>Please Select Your Role</div>
            </mat-card-title>
            <br>
            <mat-card-content class="d-flex flex-column">
                <div class="row justify-content-center">
                    <!-- แบ่งคอลัมวางโครง -->
                    <div class="mx-auto">
                        <a href="stock/create">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/2302/2302834.svg" alt="student"
                                width="150" height="150" class="rounded-circle" />
                            <h3 align="center">Student</h3>
                        </a>
                    </div>
                    <div class="mx-auto" href="login">
                        <a href="login">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/1089/1089129.svg" alt="student"
                                width="150" height="150" class="rounded-circle" />
                            <h3 align="center">Professor</h3>
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>